body {
  font-size: 14px;
  font-family: 'Gothic A1', sans-serif;
  margin: 20px;
}

.game {
  display: inline;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(15, 50px);
  grid-template-columns: repeat(15, 50px);
}

.slot {
  border: 2px solid #eae1d0;
  background-color: #d4caaf;
}

.double-letter {
  background-color: #b6cbcc;
}

.triple-letter {
  background-color: #3da1b1;
}

.double-word {
  background-color: #f4baac;
}

.triple-word {
  background-color: #fe6147;
}

.start-slot {
  background-color: #413134;
}

.tile-holder {
  display: flex;
  width: 16em;
  border: 2px solid #ad8240;
  border-radius: 4px;
  margin: 1em 0em 1em 0em;
  padding: 0em 0.25em 0em 0.25em;
  min-height: 2.5em;
  background-image: url("img/tile_holder.jpg");
}

.tile {
  display: flex;
  width: 2em;
  height: 2em;
  margin: 0.25em 0.25em 0.25em 0.25em;
  border: 2px solid #a6957b;
  border-radius: 4px;
  justify-content: center;
  align-items: flex-end;
  background-image: url("img/scrabble_tile.png");
  background-position: center;
  background-size: cover;
}

.letter {
  font-size: 18px;
  user-select: none;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}
